/* font-face { font-family: avantgarde; src: url('assets/fonts/avantgarde.ttf'); } */

*,
*::before
*::after {
    box-sizing: border-box; /* Regular */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}


::-webkit-scrollbar {
      width: 0px;
      background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

p {
    margin:0;
    padding:0;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'avantgarde', sans-serif;
    background-color: #000000;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
        z-index: -100;
}

/*     General     */

.green {
    background-color: #13BE78;
}

.red {
    background-color: #be3513;
}

.blue { 
    background-color: #13beb5;
}

.golden {
    background-color: #a9dd31;
}

.silver {
    background-color: #999e8f;
}

.bronze {
    background-color: #844545;
}

.yellow {
    background-color: #a9dd31;
}


.white {
    background-color: #ffffff;
}

.container {
    width: 1100px;
    margin: 0 auto;
}


.link {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.link:hover {
    background-color: #ffffff;
    color: #000000;
}

.link__inner {
    display: flex;
    flex-direction: column;
}

.link-archive {
    padding: 0.5em 0.5em;
    font-size: 0.8em;
    font-weight: 700;
    width: 100%;
}

.link-archive__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    border-bottom: 1px solid #ffffff;
    color: #000000;
}


.link-archive-filter {
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.8em;
    margin-left: 5px;
}

#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #043D5D; 
    --gradient-color-2: #032E46; 
    --gradient-color-3: #23B684;  
    --gradient-color-4: #0F595E;
    
  /*--gradient-color-1: #2D3E50; 
    --gradient-color-2: #01C26E; 
    --gradient-color-3: #E24C3F;  
    --gradient-color-4: #F3C40F; */


  
    /* https://whatamesh.vercel.app/ */
}
  
/*     Page tweaks     */

.page-2-title, .page-3-title {
    margin-bottom: 1em;
}

/*     Header      */

.header {
    background-color: #000000;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    color: #ffffff;
    max-width: 100%;
    padding: 5em 1em;
    transition: .2s all;
}

.header:hover {
    transform: translate(-0em, -1em);
    transition: .2s all;
}

.header__inner {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.header-logo {
    width: 7em;
}

.header__text {
    margin: 2em 0;
    font-size: 0.7em;
}

/*     Main      */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
}

.main__side {
    width: 20%;
}

.main__inner {
    width: 50%;
}

.main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.main__title {
    font-size: clamp(1.7rem, 3.5vw, 5.3rem);
    /* text-transform: uppercase; ПОСМОТРЕТЬ С БЕКХАНОМ */
}

.main__subtitle {
    color: #ffffff;
    font-size: 15px;
    margin: 2em 0;
    max-width: 50%;
}

.main-block {
    background-color: #000000;
    border-radius: 10px;
    padding: 1em;
    transition: .3s all;
    background: url(assets/images/block1.png) left no-repeat, #0c0c0c;
    background-size: min(100%);
    background-position: 0px 0;
    filter: grayscale(1);

}

.main-block:hover {
    background-position: 0px -200px;
    transition: .3s all;
    filter: grayscale(0);
}

.main-block-logo {
    width: 50px;
    transform: rotate(0deg);
    transition: 1s all;
}

.main-block-logo:hover {
    color: #13BE78;
    transform: rotate(360deg);
    transition: 1s all;
}

/*     Footer      */

.footer {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    z-index: 200;
    justify-content: space-around;
    height: 20vh;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
    margin-bottom: 2em;
    transition: .2s all;
}


.footer:hover {
    transform: translate(0, -1em);
}

.footer__inner {
    display: flex;
    flex-direction: column;
}

.footer-link {
    text-transform: uppercase;
    font-size: 1.2rem;
}

/*     Groups      */

.groups-page {
    height: 100vh;
}

.groups-inner {
    display: flex;
    margin: 2em 0;
    justify-content: space-between;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 0;
    border-bottom: 0;
    transition: .2s all;
}

.group:hover {
    transform: translate(-1em, -1em);
    transition: .2s all;
}

.link-group {
    padding: 0.5em 0.5em;
    font-size: 0.8em;
    font-weight: 700;
}


@media (max-width: 700px) {

    .header {
        position: relative;
    }

    .main, .main__side, .main__inner {
        width: unset;
    }

    .container {
        width: unset;
    }

    .footer {
        width: unset;
        margin: 2em;
        flex-direction: column;
        height: 40vh;
        align-items: unset;
        padding: 2em;
    }

    .nav--link {
        font-size: 2rem;
    }

    .main-block {
        background-size: min(200%);
        background-position: -100px;
    }

    .main-block:hover {
        background-position: 0px -20px;
   
    }

    .header-logo {
        width: 10em;
    }
}  
 