/* font-face { font-family: avantgarde; src: url('assets/fonts/avantgarde.ttf'); } */

*,
*::before
*::after {
    box-sizing: border-box;         /* Regular */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}


::-webkit-scrollbar {
      width: 0px;
      background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

p {
    margin:0;
    padding:0;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
}

a {
    text-decoration: none;
    color: #ffffff;
}

body { 
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'avantgarde', sans-serif;
    background-color: #000000;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
        z-index: -100;
}

/*     General     */

.swiper {
    width: 600px;
    height: 300px;
  }

.green {
    background-color: #ffffff;
}

.red {
    background-color: #ffffff;
}

.blue { 
    background-color: #ffffff;
}

.golden {
    background-color: #d9f924;
}

.silver {
    background-color: #babcb6;
}

.bronze {
    background-color: #cd6e6e;
}

.yellow {
    background-color: #a9dd31;
}


.white {
    background-color: #ffffff;
}

.faded {
    background-color: #ffffff50;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.width-50 {
    max-width: 50%;
}

#kill-margin {
    margin: 0;
}

#kill-opacity {
    opacity: 0;
    pointer-events: none;
}

.link-split {
    display: flex;
    align-items: center;
}

.blur-bg {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
}

.blur {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1500;
    backdrop-filter: blur(10px);
}

.link {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.link:hover {
    background-color: #ffffff;
    color: #000000;
}

.link__inner {
    display: flex;
    flex-direction: column;
}

.link-archive {
    padding: 0.5em 0.5em;
    font-size: 0.8em;
    font-weight: 700;
    width: 100%;
}

.link-archive__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    border-bottom: 1px solid #ffffff;
    color: #000000;
}

.link-archive-filter {
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.8em;
    margin-left: 5px;
}

.language-link {
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.filter-links {
    flex-direction: row;
}


.filter-link {
    padding: 1em 2em;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(223, 223, 223, 0.438);    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 10px;
    transition: .2s all;
}

.filter-link:hover {
    transform: translate(-0em, -1em);
    transition: .2s all;
    cursor: pointer;    
}

#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #FCD201; 
    --gradient-color-2: #FC560B; 
    --gradient-color-3: #F63AA0;  
    --gradient-color-4: #0360E7;
    
  /*--gradient-color-1: #2D3E50; 
    --gradient-color-2: #01C26E; 
    --gradient-color-3: #E24C3F;  
    --gradient-color-4: #F3C40F; */


  
    /* https://whatamesh.vercel.app/ */
}
  
/*     Page tweaks     */


/*     Header      */

.header {
    background-color: #000000;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    color: #ffffff;
    max-width: 100%;
    padding: 5em 1em;
    transition: .2s all;
}

.header:hover {
    transform: translate(-0em, -1em);
    transition: .2s all;
}

.header__inner {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.header-logo {
    width: 10em;
}

.header__text {
    margin: 2em 0;
    font-size: 0.7em;
}

/*     Main      */

.main {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.main__inner {
    width: 70%;
}

.main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 9em 0;
}

.main__title {
    font-size: clamp(2.7rem, 3.5vw, 5.3rem);
    margin-bottom: 1em;
    line-height: 3rem;
    /* text-transform: uppercase; ПОСМОТРЕТЬ С БЕКХАНОМ */
}

.main__subtitle {
    color: #ffffff;
    font-size: 20px;
    margin: 2em 0;
}

.block-subtitle {
    background-color: #ffffff;
    display: inline;
    color: #000000;
    
}

.main-block {
    background-color: #000000;
    border-radius: 10px;
    padding: 14em 0em 2em 2em;
    transition: .3s all;
    background: url(assets/images/block1.jpg) left no-repeat, #0c0c0c;
    background-position: center;
    background-size: 130%;
    filter: grayscale(1);
}

.main-block:hover {
    background-size: 110%;
    transition: .3s all;
    filter: grayscale(0);
}

.main-block-logo {
    width: 50px;
    transform: rotate(0deg);
    transition: 1s all;
}

.main-block-logo:hover {
    color: #13BE78;
    transform: rotate(360deg);
    transition: 1s all;
}

/*     Footer      */

.footer {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    z-index: 200;
    justify-content: space-around;
    height: 20vh;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
    margin-bottom: 2em;
    transition: .2s all;
}


.footer:hover {
    transform: translate(0, -1em);
}

.footer__inner {
    display: flex;
    flex-direction: column;
}

.footer-link {
    text-transform: uppercase;
    font-size: 1.2rem;
}

/*     Groups      */

.groups-page {
    height: 100vh;
}

.groups-inner {
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 0;
    border-bottom: 0;
    transition: .2s all;
}

.group:hover {
    transform: translate(0em, -1em);
    transition: .2s all;
}

.link-group {
    padding: 0.5em 0.5em;
    font-size: 0.8em;
    font-weight: 700;
}

/*     Crew     */


.crew__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.crew-member {
    width: 100%;
    display: flex;
    padding: 2em;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(223, 223, 223, 0.438);    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: clamp(0.5rem, 1.5vw, 0.7rem);
    transition: .2s all;
    margin-bottom: 2em;
}


.crew-member:hover {
    transform: translate(-0em, -1em);
    transition: .2s all;
}

.crew-subtitle__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.crew-title__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
}

.crew-subtitle {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
}

.crew-title {
    line-height: 1.5em;
    margin: 1em 0;
}

.crew-job {
    padding: 0.5em 1em;
    font-size: 14px;
}

.apply-btn {
    color: white;
    border: 2px solid white;
    transition: .2s all;
}

.apply-btn:hover {
    background: url(assets/images/btn-bg.png) center no-repeat, #0c0c0c;
    background-size: 100%;
    border: 2px solid white;
    color: #000000;
    transition: .2s all;

}

/*     Partners     */

.partners__inner {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    justify-content: space-between;
}

.partner__item {
    display: flex;
    height: 3em;
    filter: brightness(0) invert(1);
    transition: .2s all;
}

.partner__item:hover {
    /* filter: none; */
    transition: .2s all;
}


/*    Modal     */

.modal-holder {
    display: none;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    background-color: black;
    border-radius: 10px;
    padding: 1em;
    transition: .2s all;
}

.modal:hover {
    transform: translate(-50%, -60%);
    transition: .2s all;
}

.modal__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal__close {
   position: fixed;
   height: 2em;
   cursor: pointer;
   transition: .2s all;
}

.modal__close:hover {
    color: #be3513;
    transition: .2s all;
    transform: rotate(90deg);
}

.modal-feature-title {
    text-align: center;
    margin: 2em 1em;
}

/* Filter styles */

.filterDiv {
   
    display: none;
  }
  
  .show {
    display: flex;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

/* DELETE THIS LATER*/

.modal-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row__inner {
    width: 30em;
}

.row-profile {
    padding: 4em;
    border-radius: 100%;
    background-color: #ffffff;
}

.case__inner {
    display: flex;
    flex-direction: column;
    padding: 2em;
    height: 50vh;
    justify-content: space-between;
}

/* THE END OF DELETE*/

@media (max-width: 700px) {

    .main, .main__side, .main__inner {
        width: unset;
        display: block;
    }

    .partners__inner {
        display: grid;
      
    }

    .partner__item {
        margin: 2em;
        height: 4em;
    }

    .container {
        width: unset;
    }

    .language-link {
        width: 100%;
    }

    .footer {
        width: unset;
        margin: 2em;
        flex-direction: column;
        height: 40vh;
        align-items: unset;
        padding: 2em;

        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(223, 223, 223, 0.438);
    }

    .nav--link {
        font-size: 2rem;
    }

    .header {
        position: relative;
        border-radius: 10px;
        margin: 2em 2em;
        padding: 3em;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(223, 223, 223, 0.438);
    }

    .header-logo {
        width: 10em;
    }

    .main-page {
        padding: 1em;
    }

    .crew-member {
        flex-direction: column;
    }

    .crew-subtitle__inner, .crew-title__inner {
        margin: 1em 0;
    }

    .crew-title {
        font-size: 2em;
    }
}  

@media (max-width: 1000px) {
    .main-block, .main-block:hover {
        background-size: cover;
    }
}